.queuesTable {
  padding: 1rem;
}
.queuesTable table {
  border-spacing: 0;
  border: 1px solid black;
}

.queuesTable table tr:last-child td {
  border-bottom: 0;
}

.queuesTable th, .queuesTable td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.queuesTable th:last-child, .queuesTable td:last-child {
  border-right: 0;
}

.queuesTable tr:nth-child(odd) td {
  background: #eee;
  background: -moz-linear-gradient(center top, #f0f0f0 0%,#e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0),color-stop(1, #e0e0e0));
}
.queuesTable tr:nth-child(even) td{
  background: #fff;
  background: -moz-linear-gradient(center top, #F8F8F8 0%,#ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8F8F8),color-stop(1, #ffffff));
}

.queuesTable  .pagination {
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  display: inline-flex;
}
.queuesTable .pagination button {
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
}

.queuesTable span {
  padding: 1px 6px;
  align-self: center;
}
.queuesTable input[type="checkbox"] {
  margin: 0rem 0.5rem 0rem 0rem;
  vertical-align: middle;
}

.queuesTable th div {
  display: inline-block;
}

.queuesTable .queuesButtons {
  display: inline-flex;
}

.queuesTable .queuesButtons input[type="submit"] {
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.queuesTable .deleteConditions * {
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}